<section class="nosotros" id="nosotros">
  <div class="row"> 
      <div class="foto-container">
        <div class="noso-foto"></div>

       
      </div>
      <div class="content">
        <h3>¿Quiénes somos?</h3>
        <p>
          Nuestra aplicación se dedica a proporcionar atención médica domiciliaria personalizada, diseñada específicamente para satisfacer las necesidades y preferencias 
          de cada paciente. Entendemos que la comodidad y la satisfacción son esenciales para una experiencia de atención médica positiva, por lo que nuestro objetivo principal 
          es permitir que el usuario elija al profesional de la salud con el que se sienta más cómodo y seguro.
          Desde el primer momento en que accedes a nuestra plataforma, te ofrecemos una experiencia fluida e intuitiva. Podrás explorar perfiles detallados de médicos, enfermeras
           y otros profesionales de la salud, con información completa sobre sus especialidades, experiencia, y valoraciones de otros pacientes. Esto te permitirá tomar una decisión
           informada sobre quién deseas que te atienda en la comodidad de tu hogar.
        </p>
      <a href="#" class="btn">Saber más</a>
  </div>
</div>
</section>