<div class="admin-dashboard">
  <h2>Admin Dashboard</h2>
  <div class="admin-navigation">
    <button mat-raised-button color="primary" [routerLink]="['/admin/ver-pacientes']">Gestión de Pacientes</button>
    <button mat-raised-button color="primary" [routerLink]="['/admin/ver-medicos']">Gestión de Médicos</button>
    <button mat-raised-button color="primary" [routerLink]="['/admin/ver-citas']">Gestión de Citas</button>
    <button mat-raised-button color="primary" [routerLink]="['/admin/ver-diagnosticos']">Gestión de Diagnósticos</button>
    <button mat-raised-button color="primary" [routerLink]="['/admin/ver-usuarios']">Gestión de Usuarios</button>
  </div>
</div>
