<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<section class="home" id="home">
  <div class="content">
      <h3>Home Health</h3>
      <span><br>Tu salud, nuestra prioridad: <br>atención médica de calidad a tu alcance.</span>
      
      <p>En nuestras clínicas, ofrecemos atención médica integral <br>y personalizada, respaldada por profesionales altamente <br>capacitados y tecnología de vanguardia. 
          Tu bienestar es <br>nuestra misión, brindándote soluciones de salud <br>eficientes y compasivas.</p>
          <button mat-raised-button color="primary" routerLink="/paciente/perfil">LOGIN</button>
         
  </div>
</section>
